*{
    margin:0;
    padding:0;
}

.bgimg{
  background-image: url("./best.jpg");  
  background-size: cover;
  min-height: 100vh;
  background-repeat: no-repeat;
  background-attachment: fixed;
 }